# Ignore Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Ignore environment variables
.env
.env.local
.env.production
.env.development

# Ignore logs and system files
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock
.DS_Store
Thumbs.db

# Ignore build files
client/build/
server/dist/
client/node_modules
server/node_modules
client/.env
server/.env

# Ignore Git-related files
.git/